@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@400;500;700;900&display=swap");

@-webkit-keyframes loader {
  35% {
    opacity: 1;
    z-index: 10;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loader {
  35% {
    opacity: 1;
    z-index: 10;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes spin {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #9356dc;
  z-index: 1;
  opacity: 1;
  -webkit-animation: loader 1.5s forwards linear;
  animation: loader 1.5s forwards linear;
}

.loader h2 {
  text-align: center;
  color: white;
  position: relative;
  top: 15%;
  font-size: 40px;
  text-transform: uppercase;
}

.loader_spinner {
  border-bottom: 2px solid #ff79da;
  border-right: 2px solid #ff79da;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  position: relative;
  top: 25%;
  margin: auto;
  -webkit-animation: spin 3s;
  animation: spin 3s;
  opacity: 0;
}

.food_menu__items {
  -webkit-animation: menu 1.5s;
  animation: menu 1.5s;
}

.food_menu__items .food_menu__check {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  width: 0;
}

.food_menu__items .food_menu__price {
  padding-right: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.food_menu__items:hover .food_menu__check {
  width: 70px;
}

.food_menu__items:hover .food_menu__check i {
  -webkit-animation: rotate 1.5s;
  animation: rotate 1.5s;
}

.food_menu__items:hover .food_menu__price {
  padding-right: 45px;
}

.food_menu__title .fa-solid,
.restaurants .fa-solid {
  opacity: 0;
}

.food_menu__title .fa-solid:hover,
.restaurants .fa-solid:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 769px) {
  .restaurants_container {
    -webkit-box-orient: initial !important;
    -webkit-box-direction: initial !important;
    -ms-flex-direction: initial !important;
    flex-direction: initial !important;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .restaurants_container .restaurants_menu {
    width: 25%;
  }

  .restaurants_container .restaurants_menu img {
    height: 200px !important;
  }
}

body {
  margin: 0;
  font-family: 'roboto', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
  -webkit-box-shadow: 5px 5px 10px lightgray;
  box-shadow: 5px 5px 10px lightgray;
  margin-bottom: 4px;
}

header #logo {
  height: 35px;
}

.location {
  font-size: 22px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #eaeaea;
}

.location i {
  margin-right: 20px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  text-align: center;
  padding: 0 40px;
  background: #f7f7f7;
}

.info .info_title {
  font-size: 30px;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 0;
}

.info .info_texte {
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 15px;
}

.info .info_btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356DC));
  background: linear-gradient(180deg, #ff79da, #9356DC);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-radius: 50px;
  width: 250px;
  padding: 15px 10px;
  -webkit-box-shadow: 5px 5px 10px lightgray;
  box-shadow: 5px 5px 10px lightgray;
  margin-bottom: 60px;
  cursor: pointer;
}

.info .info_btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f89ade), to(#9b6bd6));
  background: linear-gradient(180deg, #f89ade, #9b6bd6);
}

.choice {
  padding: 0 20px;
  margin: 50px 0px;
}

.choice .choice_title {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 30px;
}

.choice .choice_steps {
  padding: 30px 20px;
  background: #f7f7f7;
  margin: 20px 0;
  -webkit-box-shadow: 5px 5px 10px lightgray;
  box-shadow: 5px 5px 10px lightgray;
  border-radius: 30px;
}

.choice .choice_steps:hover {
  background-color: #f5edff;
}

.choice .choice_steps:hover i {
  color: #9356DC;
}

.choice .choice_number {
  background-color: #9356DC;
  border-radius: 50%;
  padding: 5px 10px;
  color: white;
  position: relative;
  right: 29px;
}

.choice .choice_text {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  right: 20px;
}

.choice i {
  position: relative;
  right: 25px;
  color: #737373;
}

.restaurants {
  background: #f5f5f5;
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.restaurants .restaurants_title {
  margin: 0 20px 20px 20px;
  font-weight: 800;
  font-size: 20px;
  padding-left: 10px;
}

.restaurants .restaurants_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.restaurants .restaurants_container .restaurants_menu {
  border-radius: 20px;
  margin: 0 20px;
  margin-bottom: 15px;
  background: white;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 5px 5px 10px lightgray;
  box-shadow: 5px 5px 10px lightgray;
  position: relative;
}

.restaurants .restaurants_container .restaurants_img {
  height: 140px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.restaurants .restaurants_container h2,
.restaurants .restaurants_container p {
  margin: 0px;
  font-size: 16px;
  padding-left: 10px;
}

.restaurants .restaurants_container h2 {
  font-weight: 800;
  margin-top: 7px;
  margin-bottom: 3px;
}

.restaurants .restaurants_container p {
  padding-bottom: 10px;
}

.restaurants .restaurants_container i {
  position: absolute;
  right: 10px;
  bottom: 16px;
  font-size: 25px;
}

.restaurants .restaurants_container a {
  text-decoration: none;
  color: black;
}

.restaurants .restaurants_container .restaurants_new {
  position: absolute;
  right: 12px;
  top: 12px;
  background: #99e2d0;
  color: #269e80;
  padding: 5px 7px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
}

.footer_menu {
  background: #353535;
  padding: 30px 25px 15px 25px;
}

.footer_menu .footer_logo {
  width: 100px;
}

.footer_menu ul {
  list-style-type: none;
  padding: 0;
}

.footer_menu li,
.footer_menu a {
  text-decoration: none;
  color: white;
  line-height: 30px;
}

.footer_menu i {
  margin-right: 8px;
}

/*# sourceMappingURL=styles.css.map */