@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand:wght@400;500;700;900&display=swap');
$shadow: 5px 5px 10px lightgray;
$bg-color: #f5f5f5;
$cyan: #99E2D0;
$color-gradient: linear-gradient(180deg, #ff79da, #9356dc);
$primary-color: #9356DC;